-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{:id => 'title'       }= link_to 'Movie Title',  '?sort_by=title',        :class=> "movie_header"
      %th{:id => 'rating'      }= link_to 'Rating',       '?sort_by=rating',       :class=> "movie_header"
      %th{:id => 'release_date'}= link_to 'Release Date', '?sort_by=release_date', :class=> "movie_header"
      %th{:id => 'description' }= link_to 'More Info',    '?sort_by=description',  :class=> "movie_header"
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

%script{:type=>"text/javascript"}
  hilite()