-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @ratings.include?("#{rating}")
  = submit_tag 'Refresh', :class => 'btn btn-primary'

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{:id => 'title'       }= link_to 'Movie Title',  "?#{@ratings_query}sort_by=title",        :class=> "movie_header"
      %th{:id => 'rating'      }= link_to 'Rating',       "?#{@ratings_query}sort_by=rating",       :class=> "movie_header"
      %th{:id => 'release_date'}= link_to 'Release Date', "?#{@ratings_query}sort_by=release_date", :class=> "movie_header"
      %th{:id => 'description' }= link_to 'More Info',    "?#{@ratings_query}sort_by=description",  :class=> "movie_header"
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

%script{:type=>"text/javascript"}
  hilite()